<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escolha de alunos</title>
    <link rel="stylesheet" href="../../public/EscAlu.css" />
  </head>
  <body>
    <!-- logo -->
    <img
      src="../../imagens/Logo academia neon verde (3).png"
      alt=""
      height="50"
      width="50"
      id="logo1"
    />
    <div class="lnh"></div>
    <img src="../../imagens/back.png" alt="" height="50" width="50" id="img" />
    <br />
    <!-- fim da logo -->
    <h1 id="x">Escolha seu aluno</h1>
    <br />

    <div id="ft">
      <div id="rb">
        <img
          src="../../imagens/65e4ff2263f443530a1709af5df8287d3b938d06.png"
          alt=""
          height="120"
          width="120"
          id="img"
        />
        <div class="ft1">
          <h1 id="esc">
            Bart da Silva Soares
            <img
              src="../../imagens/circled-dot.png"
              alt=""
              height="20"
              width="20"
              id="rzc"
            />
          </h1>
          <p id="gml">
            Objetivo:
            <br />
            Definir o corpo
          </p>
        </div>
      </div>
    </div>
    <br><br>
    <div id="ft">
      <div id="rb">
        <img
          src="../../imagens/1624b0b8b10b5415a9eb5bdeb8f0416aa9cbee05.png"
          alt=""
          height="120"
          width="120"
          id="img"
        />
        <div class="ft1">
          <h1 id="esc">
            Murilo Bento
            <img
              src="../../imagens/circled-dot.png"
              alt=""
              height="20"
              width="20"
              id="rzc"
            />
          </h1>
          <p id="gml">
            Objetivo:
            <br />
            Ganhar Massa
          </p>
        </div>
      </div>
    </div>
    <br><br>
    <div id="ft">
      <div id="rb">
        <img
          src="../../imagens/beac6a342df3709f8edfb787957dc65a7780f1a6.jpg"
          alt=""
          height="120"
          width="120"
          id="img"
        />
        <div class="ft1">
          <h1 id="esc">
            Braian Nogueira
            <img
              src="../../imagens/circled-dot.png"
              alt=""
              height="20"
              width="20"
              id="rzc"
            />
          </h1>
          <p id="gml">
            Objetivo:
            <br />
            Emagrecer
          </p>
        </div>
      </div>
    </div>
    <br><br>
     <div id="ft">
      <div id="rb">
        <img
          src="../../imagens/758e9beacb3310652683c20e2eae681e90de37af.jpg"
          alt=""
          height="120"
          width="120"
          id="img"
        />
        <div class="ft1">
          <h1 id="esc">
            Martin Ramos Lima
            <img
              src="../../imagens/circled-dot.png"
              alt=""
              height="20"
              width="20"
              id="rzc"
            />
          </h1>
          <p id="gml">
            Objetivo:
            <br />
            Emagrecer e definir
          </p>
        </div>
      </div>
    </div>
    <br><br>
    <div id="ft">
      <div id="rb">
        <img
          src="../../imagens/975cd61a937cd8fea5e5b6b7b8dbab7078c57d1d.jpg"
          alt=""
          height="120"
          width="120"
          id="img"
        />
        <div class="ft1">
          <h1 id="esc">
            Bernado Zenios
            <img
              src="../../imagens/circled-dot.png"
              alt=""
              height="20"
              width="20"
              id="rzc"
            />
          </h1>
          <p id="gml">
            Objetivo:
            <br />
            Perder peso
          </p>
        </div>
      </div>
    </div>
    <br><br>
     <div class="logCenter d-grid gap-2 col-6 mx-auto">
      <br />
      <button class="btn btn-info btn-maior" type="button">
       Salvar
      </button>

      <br><br>

      <div class="lnh"></div>


    <div class="icons">
      <div id="icn1">
        <img src="../../imagens/PERSONAL-COLORIDO.png" alt=""  
        width="50" 
        height="50"/>
        <p id="rma">Alunos</p>
      </div>

      <div id="icn2">
        <img src="../../imagens/TREINOS.png" alt=""  
        width="50"
        height="50"
        />
        <p id="rp">Treinos</p>
      </div>

      <div id="icn3">
        <img src="../../imagens/PERFIL.png" alt="" 
        width="50"
        height="50" />
        <p id="cnf">Perfil</p>
      </div>
    </div>
    

    
    
    

    <!-- Importação do bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
