<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Treinos Prontos</title>
    <link rel="stylesheet" href="../../public/TrePsdoPersonal.css" />
  </head>
  <body>
    <img
      src="../../imagens/Logo academia neon verde (3).png"
      alt=""
      height="50"
      width="50"
      id="logo1"
    />
    <div class="lnh"></div>
    <!-- fim da logo -->
    <h1 id="am">Meus Treinos</h1>
    <div id="flc">
      <p>Adicionar</p>
      <img src="../../imagens/add.png" alt="" height="30" width="30" id="cor" />
    </div>

    <div class="logCenter d-grid gap-2 col-6 mx-auto">
      <br />
      <button class="btn btn-info btn-maior" type="button">
        Treino A
        <img src="../../imagens/visualizar.png" alt="" height="20" width="20" />
      </button>
      <img
        src="../../imagens/circled-dot.png"
        alt=""
        height="30"
        width="30"
        id="rzc"
      />
    </div>

    <div class="logCenter d-grid gap-2 col-6 mx-auto">
      <br />
      <button class="btn btn-info btn-maior" type="button">
        Treino B
        <img src="../../imagens/visualizar.png" alt="" height="20" width="20" />
      </button>
      <img
        src="../../imagens/circled-dot.png"
        alt=""
        height="30"
        width="30"
        id="rzc"
      />
    </div>

    <div class="logCenter d-grid gap-2 col-6 mx-auto">
      <br />
      <button class="btn btn-info btn-maior" type="button">
        Treino C
        <img src="../../imagens/visualizar.png" alt="" height="20" width="20" />
      </button>
      <img
        src="../../imagens/circled-dot.png"
        alt=""
        height="30"
        width="30"
        id="rzc"
      />
    </div>

    <br /><br /><br />
    <div class="logCenter d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-info btn-maior" type="button">
        Anexar treino
        <img src="../../imagens/document.png" alt="" height="20" width="20" />
      </button>
    </div>
    <br />
    <div id="ft">
      <img
        src="../../imagens/8854187dba319e1d6a6592e1daa82c44774c5cca.jpg"
        alt=""
        height="120"
        width="120"
        id="img"
      />
      <div class="ft1">
        <h1 id="esc">Thiago Moreira</h1>
        <p id="gml">
          <br />
          Perder peso
        </p>
      </div>
    </div>

    <div class="lnh"></div>

    <div class="icons">
      <div id="icn1">
        <img src="../../imagens/PERSONAL.png" alt="" width="50" height="50" />
        <p id="rma">Alunos</p>
      </div>

      <div id="icn2">
        <img
          src="../../imagens/TREINOS-COLORIDO.png"
          alt=""
          width="50"
          height="50"
        />
        <p id="rp">Treinos</p>
      </div>

      <div id="icn3">
        <img src="../../imagens/PERFIL.png" alt="" width="50" height="50" />
        <p id="cnf">Perfil</p>
      </div>
    </div>
    <!-- Importação do bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
