<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil do Aluno</title>
    <link rel="stylesheet" href="../../public/Pdaluno.css" />
  </head>
  <body>
    <!-- logo -->
    <img
      src="../../imagens/Logo academia neon verde (3).png"
      alt=""
      height="50"
      width="50"
      id="logo1"
    />
    <div class="lnh"></div>
    <!-- fim da logo -->
    <h1>Perfil</h1>
    <div id="ajus">
      <img
        src="../../imagens/PerfildoAluno.png"
        alt=""
        width="150"
        height="170"
      />
      <p id="icw">
        <img src="../../imagens/edit-row.png" alt="" width="40" height="40" />
        Editar
      </p>
    </div>
    <div class="edt">
      <h3>Nome</h3>
      <div id="rb">
        <p>Beatriz Borges Barreto</p>
      </div>
      <div>
        <h3>Email</h3>
        <div id="rb">
          <p>beatrizborges@gmail.com</p>
        </div>
      </div>
      <div>
        <h3>Altura</h3>
        <div id="rb">
          <p>168cm</p>
        </div>
      </div>
      <div>
        <h3>Massa</h3>
        <div id="rb">
          <p>85 Kg</p>
        </div>
      </div>
      <div>
        <h3>Problemas de saúde</h3>
        <div id="rb">
          <p>Não tenho problema de saúde</p>
        </div>
      </div>
      <div>
        <h3>Gênero</h3>
        <div id="rb">
          <p>Feminino</p>
        </div>
      </div>
      <div>
        <h3>Objetivo</h3>
        <div id="rb">
          <p>Perder peso e Definir</p>
        </div>
      </div>
      <div class="logCenter d-grid gap-2 col-6 mx-auto">
        <br />
        <button class="btn btn-info btn-maior" type="button">
          Sair
          <img
            src="../../imagens/emergency-exit.png"
            alt=""
            height="20"
            width="20"
          />
        </button>
      </div>
    </div>
    <div class="lnh"></div>

    <div class="icons">
      <div id="icn1">
        <img src="../../imagens/PERSONAL.png" alt="" width="50" height="50" />
        <p id="rp">Personal</p>
      </div>

      <div id="icn2">
        <img src="../../imagens/TREINOS.png" alt="" width="50" height="50" />
        <p id="tnt">Treinos</p>
      </div>

      <div id="icn3">
        <img
          src="../../imagens/PERFIL-COLORIDO.png"
          alt=""
          width="50"
          height="50"
        />
        <p id="cnf">Perfil</p>
      </div>
    </div>

    <!-- Importação do bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
