<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link rel="stylesheet" href="../../public/styles.css">
</head>
<body>
    <main>
    <!-- Logo -->
    <img src="../../imagens/Logo academia neon verde (3).png" alt="" height="300" width="" class="logo">

    <!-- Input de e-mail e senha -->
    <div class="container text-center mt-2xl">
        <div id="login" class="text-center">
            <div class="form-group">
                <label class="form-label">E-mail</label>
                <input type="email" class="form-control" placeholder="Digite seu e-mail">
            </div>
            <div class="form-group">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" placeholder="Digite sua senha">
            </div>
        </div>
    </div>

    <!-- botão entrar -->
    <div class="container text-center mt-xl">
        <button class="btn btn-primary btn-lg btn-block" type="button">Entrar</button>
        <div class="mt-lg">
            <a href="../cadastro/criarConta.html" style="text-decoration: none; color: var(--color-primary);">
                <h3>Criar conta</h3>
            </a>
        </div>
    </div>
    </main>
</body>
</html>