<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="../../public/styles.css" />
  </head>
  <body>
    <main>
      <!-- Logo -->
      <img
        src="../../imagens/Logo academia neon verde (3).png"
        alt=""
        height="300"
        width=""
        class="logo"
      />

      <!-- Input de e-mail e senha -->
      <div class="container text-center mt-2xl">
        <div id="login" class="text-center">
          <div class="form-group">
            <label class="form-label">E-mail</label>
            <input
              type="email"
              class="form-control"
              placeholder="Digite seu e-mail"
            />
          </div>
        </div>
      </div>
      <div class="container text-center mt-2xl">
        <div id="login" class="text-center">
          <div class="form-group">
            <label class="form-label">Nova senha</label>
            <input
              type="password"
              class="form-control"
              placeholder="Digite sua nova senha"
            />
          </div>
          <div class="form-group">
            <label class="form-label">Confirmar nova senha</label>
            <input
              type="password"
              class="form-control"
              placeholder="Confirme sua nova senha"
            />
          </div>
        </div>
      </div>

      <!-- botão entrar -->
      <div class="container text-center mt-xl">
        <button class="btn btn-primary btn-lg btn-block" type="button">
          Redefinir Senha
        </button>

        <a
          href="../cadastro/inicial.html"
          style="text-decoration: none; color: var(--color-primary)"
        >
        </a>
      </div>
    </main>
  </body>
</html>
